name: Update

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  id-token: write
  contents: read
  packages: write

jobs:
  update-branch:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/chia-network/build-images/ips:main
    steps:
      - uses: Chia-Network/actions/git-mark-workspace-safe@main

      - uses: actions/checkout@v6
        with:
          # Need REPO_ADMIN token so we can write back to the workflows in the repository
          token: ${{ secrets.REPO_ADMIN }}

      - name: Update code
        run: |
          echo "FROM scratch" > Dockerfile

      - name: Show git output
        run: |
          git status
          git diff
          git config --global user.email "you@example.com"
          git config --global user.name "Your Name"

      - name: Commit any changes back to the repo
        run: |
          ( git commit -am "Updating dockerfile" && git push ) || true